html, body { margin:0; padding: 0;  height: 100%; background-color: #E9E5D6; font-family: 'HaenamFont'; }

@font-face {
    font-family: 'HaenamFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/HaenamFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SANGJUGyeongcheonIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.right_menu {
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
    padding: 30px 20px 30px 60px;
    background-image: url("./main_img.png");
    margin: 0px;
    font-size: 17px;
    color: #362706;
    background-size: cover;
    width: 125px;
    height: 16px;
    position: fixed;
    right: 0px;
    top: 10px;
}

#right_menu_two {
    top: 100px;
}

.post {
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    padding: 30px;
    background-image: url("./post_background_img.jpg");
    margin: 50px;
    font-size: 13px;
    color: #362706;
    background-size: cover;
    width: 600px;
    height: 300px;
    margin-left:auto; margin-right:auto;
    position: relative;
    line-height: 18px;
}

#post_title {
    font-size: 24px;
    left: 270px;
    position: relative;
    margin: 0px 0px;
    width: 300px;
    height: 40px;
    line-height: 28px;
    top: -10px;
    font-family: 'SANGJUGyeongcheonIsland';
}

#post_text {
    position: relative;
    left: 200px;
    margin: 20px 0px;
    width: 400px;
    overflow: hidden;
    height: 50px;
}

#post_book {
    left: 261px;
    margin-bottom: 15px;
    position: relative;
    bottom: 106px;
    height: 37px;
    overflow: hidden;
    color: #464E2E;
    width: 200px;
    font-family: 'SANGJUGyeongcheonIsland';
    font-size: 15px;
}

#post_img {
    width: 80px; height: 100px;
    position: relative;
    left: 160px;
}

#post_nick {
    position: relative;
    left: 300px;
    margin: 0px 0px;
    position: relative;
    bottom: 70px;
    height: 20px;
    width: 400px;
    text-align: left;

}

.login_form, .join_form{
    display: block;
    text-align: left;
    padding: 30px 30px 30px 30px;
    background-color: #E9C891;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./login_img.PNG");
    width: 750px;
    height: 390px;
    background-size: contain;
    text-decoration: none;
    position: relative;
}

.login_form *, .join_form *{
    font-family: 'HaenamFont';
    color: #362706;
    font-size: 17px;
    text-decoration: none;
    display: block;
}

.search_form * {
    font-family: 'HaenamFont';
    color: #362706;
    font-size: 13px;
    text-decoration: none;
    position: relative;
}

.post_form * {
    font-family: 'HaenamFont';
    color: #362706;
    font-size: 13px;
    text-decoration: none;
    position: relative;
}

#login_text, #join_text {
    width: 400px;
    height: 50px;
    margin-top: 30px;
    background-color: #E9C891;
    border:none; border-right:0px; border-top:0px; border-left:0px; border-bottom:3px solid #362706;
    margin-left: auto;
    margin-right: auto;
}

#login_btn, #join_btn{
    position: absolute;
    margin-left: auto;
    right: 84px;
    bottom: 113px;
    border-radius: 45px;
    font-size: 30px;
    width: 90px;
    height: 90px;
    border: 6px solid #AE431E;
}

#login_btn, #join_btn, #search_btn, #profile_btn{
    padding: 0px;
    border-radius: 50px;
    color: #AE431E;
    background-color: #E9C891;
    cursor: pointer;
}

#genre_btn, #post_search_btn {
    padding: 0px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    color: #AE431E;
    border: 4px solid #AE431E;
    background-color: #ACB992;
    cursor: pointer;
    font-family: 'HaenamFont';
    margin-left: 68px;
}

#genre_btn {
    margin-left: 210px;
}

#post_all_btn {
    color: #AE431E;
    background-color: #ACB992;
    cursor: pointer;
    font-family: 'HaenamFont';
    margin-left: 50px;
    border: none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'HaenamFont';
    color: #362706;
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'HaenamFont';
    color: #362706;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'HaenamFont';
    color: #362706;
}

.login_form a {
    display: inline-block;
    margin-left: 50px;
    border-bottom: 3px solid #AE431E;
    line-height: 27px;
    margin-top: 50px;
}

.login_form p, .join_form p {
    margin-left: 50px;
}

.post_all {
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.post_left {
    background-image: url(./post_left2.PNG);
    width: 1100px;
    height: 530px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    color: #2F3C4F;
    margin-left: auto;
    margin-right: auto;
}

.result_table {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 250px;
    position: relative;
    top: 84px;
    position: relative;
}

#result_list {
    display: table-row;
}

#result_list>div{
    display: table-cell;
    top: 5px;
    width: 160px;
    height: 200px;
    line-height: 13px;
    font-size: 13px;
    text-align: center;
}

#result_list>div>img, #result_list>div>p {
    display: inline-block;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
    width: 130px;
}

#search_text {
    width: 320px;
    height: 25px;
    background-color: #506E86;
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 3px solid #2F3C4F;
    position: relative;
    left: 110px;
    margin: 11px;
    font-size: 16px;
    top: 80px;
}

#search_btn {
    border: 4px solid #823216;
    color: #823216;
    background-color: #506E86;
    font-size: 15px;
    width: 41px;
    height: 41px;
    margin-left: 10px;
    position: relative;
    left: 102px;
    margin: 11px;
    top: 80px;
}

.post_right {
    background-image: url(./post_write_img2.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1000px;
    height: 700px;
    display: block;
    color: #2F3C4F;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'HaenamFont';
}

#book_box {
    position: relative;
    width: 770px;
    height: 135px;
    color: #362706;
    top: 116px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

#book_box>img {
    width: 100px;
    height: 135px;
    display: block;
}

#book_box>p{
    position: relative;
    left: 126px;
    top: -100px;
    display: block;
}

#post_box>textarea {
    position: relative;
    color: #362706;
    display: block;
    background-color: #BBBBBB;
    resize: none;
    font-size: 15px;
    line-height: 25px;
}

#post_write_title {
    width: 500px;
    height: 25px;
    top: 116px;
    margin-right: auto;
    border:none; border-right:0px; border-top:0px; border-left:0px; border-bottom:3px solid #2F3C4F;
    left: 125px;
    top: 134px;
}

#post_write_text {
    width: 745px;
    height: 250px;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    border:3px solid #2F3C4F;
}

#post_btn {
    width: 300px;
    height: 300px;
    border: none;
    background-image: url("./stamp.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    position: relative;
    left: 725px;
    bottom: -68px;
    background-color: transparent;
    cursor: pointer;
}

.first_profile, .post_edit {
    background-size: contain;
    background-repeat: no-repeat;
    width: 700px;
    height: 600px;
    display: block;
    color: #362706;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'HaenamFont';
    padding-left: 100px;
}

.first_profile {
    background-image: url(./profile.PNG);
    padding-top: 240px;
    font-size: 16px;
}

.post_edit {
    background-image: url(./profile_img.png);
    padding-top: 120px;
    height: 720px;
    font-size: 15px;
}

#profile_logout{
    font-size: 40px;
    width: 500px;
    height: 53px;
}

#profile_logout>a{
    margin-left: 50px;
    font-size: 30px;
    color:#AE431E;
    text-decoration: none;
}

.first_profile table input{
    border:none; border-right:0px; border-top:0px; border-left:0px; border-bottom:3px solid #362706;
    width: 357px;
    line-height: 28px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    display: block;
    background-color: #E9C891;
    font-family: 'HaenamFont';
}

.first_profile table caption {
    text-align: left;
    margin-top: 20px;
}

#profile_btn {
    border: 4px solid #AE431E;
    font-size: 18px;
    width: 50px;
    height: 50px;
    font-family: 'HaenamFont';
    left: 510px;
    position: relative;
}

.post_edit table td{
    padding: 10px;
}

.post_edit table img{
    width: 80px;
    height: 100px;
}

.post_edit table textarea {
    border:2px solid #362706;
    width: 570px;
    height: 270px;
    line-height: 20px;
    font-size: 15px;
    display: block;
    background-color: #E9C891;
    font-family: 'HaenamFont';
    resize: none;
}

.post_edit table #post_title_text {
    width: 570px;
    height: 26px;
    border: none;
    border-bottom: 2px solid #362706;
}

.post_edit button {
    background-image: url(./btn.png);
    width: 109px;
    height: 78px;
    margin-left: 129px;
    color: #AE431E;
    font-family: 'SANGJUGyeongcheonIsland';
    font-size: 32px;
    border: none;
    background-size: contain;
    cursor: pointer;
}

.post_genre {
    display: block;
    text-decoration: none;
    height: 450px;
    width: 450px;
    text-align: left;
    background-image: url("./search.png");
    font-size: 17px;
    color: #362706;
    background-size: cover;
    position: fixed;
    left: 0px;
    top: 10px;
    font-family: 'HaenamFont';
    padding: 20px;
}

#post_genre_form {
    position: relative;
    margin-top: 47px;
}

#post_genre_form table td {
    padding: 7px;
}

#post_search_form input {
    width: 239px;
    height: 26px;
    border: none;
    border-bottom: 2px solid #362706;
    background-color: #ACB992;
    font-size: 17px;
    font-family: 'HaenamFont';
    margin-top: 47px;
    margin-bottom: 34px;
}

