<html>
<head>
    <title>res.render() Demo</title>
</head>
<body>
    <h2>Render Function Demo</h2>
    <form id="new-form">
        <button type="submit">get 버튼</button>
        <button type="submit2">get 버튼</button>
    </form>
    <script src="/index3/js"></script>
</body>
</html>