{% extends "layout.html" %}
{% block content %}
    <a href="/" id="exit-btn">방나가기</a>
    <div id='chat_user_count'>{{userList.length}}</div>
    <div id='chat_user_list'>
    {% for user1 in userList %}
        <div id="chat_user_name" style="color: {{user1}}">{{ user1 }}</div>
    {% endfor %}
    </div>
    <div id="chat_list">
        {% for chat in chats %}
            {% if chat.user === 'system' %}
                <div style="color:brown">{{ chat.chat }}</div>
            {% else %}
                <div style="color: {{chat.user}}" class="{{'mine' if chat.user === user else 'notmine'}}">
                    <div>{{ chat.user }}</div>
                    {% if chat.gif %}
                        <img src="/gif/{{chat.gif}}">
                    {% elif chat.chat %}
                        <div>{{chat.chat}}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <form action="/chat" id="chat_form" method="post" enctype="multipart/form-data" name="chat_form">
        <input type="file" id="chat_gif" name="chat_gif" accept="image/gif">
        <input type="text" id="chat_text" name="chat_text">
        <button type="submit">submit</button>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket= io.connect("http://localhost:8005/chat", { path: '/socket.io'});

        socket.on('join', function(data) {
            let div= document.createElement('div');
            
            const bool= false;
            document.querySelectorAll('#chat_user_name').forEach((cun)=>{
                if(cun.textContent === data.name) {
                    b= true;
                }
            });
            if(!b) {
                const num= document.getElementById('chat_user_count').textContent;
                document.getElementById('chat_user_count').textContent= Number.parseInt(num)+1;
                div= document.createElement('div');
                div.textContent= data.name;
                document.getElementById('chat_user_list').appendChild(div);
            }
            
            div= document.createElement('div');
            div.textContent= data.chat;
            div.style.color= 'brown';
            document.querySelector('#chat_list').appendChild(div);
            
        }); //'join' || 'exit' 가능? 테스트 해보기
        socket.on('exit', function(data) {
            let div= document.createElement('div');
            
            document.querySelectorAll('#chat_user_name').forEach((cun)=>{
                if(cun.textContent === data.name) {
                    cun.parentNode.removeChild(cun);
                    const num= document.getElementById('chat_user_count').textContent;
                    document.getElementById('chat_user_count').textContent= Number.parseInt(num)-1;
                }
            })

            div.textContent= data.chat;
            div.style.color= 'brown';
            document.querySelector('#chat_list').appendChild(div);
        });

        socket.on('chat', function (data) {
            const div= document.createElement('div');
            if(data.user==='{{user}}')
                div.classList.add('mine');
            let newdiv= document.createElement('div');
            newdiv.textContent= data.user;
            div.appendChild(newdiv);
            if(data.chat) {
                newdiv= document.createElement('div');
                newdiv.textContent= data.chat;
                div.appendChild(newdiv);
            } 
            if(data.gif) {
                const gif= document.createElement('img');
                gif.src= '/gif/' + data.gif;
                div.appendChild(gif);
            }
            div.style.color= data.user;
            document.querySelector('#chat_list').appendChild(div);
        });

        socket.on('userList', function () {
            axios.post('/room/userList', { username: '{{user}}'});
        });

        document.querySelector('#chat_form').addEventListener('submit', function (e) {
            e.preventDefault();
            if(e.target.children[0].files.length===1 || e.target.chat_text.value) {
                const formData= new FormData();
                //alert(new FormData(document.forms.namedItem("chat_form")));
                //alert(e.target.children[0].files.length===1); 
                if(e.target.children[0].files.length===1)
                    formData.append('gif', e.target.children[0].files[0]); 
                    // formData.append('img', this.files[0]);
                if(e.target.chat_text.value)
                    formData.append('text', e.target.chat_text.value);
                axios.post('/room/{{room._id}}/chat', formData).then(()=> {
                    e.target.chat_text.value=''; 
                    document.getElementById("chat_gif").value = ""; //e.target.children[0].file= null not work
                }).catch((err)=>console.error(err));
            }
                
        });
        
        
    </script>
{% endblock %}