{% extends "layout.html" %}

{% block content %}
    <div class="followings-box">
        {% if user.Followings %}
            {% for following in user.Followings %}
                <div>{{ following.nick }}</div>
                <form class="follow-form">
                    <input type="hidden" id="following-id" value="{{ following.id }}">
                    <button id="following-delete-button">팔로잉 끊기</button>
                </form>
            {% endfor %}
        {% endif %}
    </div>
    <div class="followers-box">
        {% if user.Followers %}
            {% for follower in user.Followers %}
                <div>{{ follower.nick }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="update-box">
        <form class="update-form" action="/user/update" method="post">
            <input type="text" placeholder="new nickname" id="update-nick-text" name="update_nick_text">
            <button type="submit">submit</button>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        document.querySelectorAll('#following-delete-button').forEach((btn)=>{
            btn.addEventListener('click', (e)=>{
                const userid= btn.parentNode.querySelector('#following-id').value;
                axios.post(`/user/${userid}/unfollow`)
                    .then(()=>{ alert('delete success'); location.reload(true);})
                    .catch((err)=>{console.log(err);});
            })
        });
    </script>
{% endblock %}