{% extends "layout.html" %}

{% block good %}
    <h2>{{good.name}}</h2>
    owner: {{ good.Owner.nick }}<br>
    start price: {{ good.price }}<br>
    <strong class="good_time" data-start="{{good.createdAt}}"></strong>
    <img style="width:100px; height:100px; " src="/img/{{good.img}}">
{% endblock %}

{% block content %}
    <div class="auction_list">
    {% for auction in auctions %}
        <div>
            {{auction.User.nick}}: {{auction.bid}}에 입찰함
            {% if auction.msg %}
                {{ auction.msg }}
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <form id="good_form">
        <input type="number" placeholder="입찰가" name="auction_price" required min="{{good.price}}">
        <input type="text" placeholder="메세지" name="auction_message" maxlength="100">
        <button type="submit">submit</button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.querySelector('#good_form').addEventListener('submit', (e)=>{
            e.preventDefault();
            alert(e.target.auction_message.value);
            axios.post('/good/{{good.id}}/auction', { bid: e.target.auction_price.value, msg: e.target.auction_message.value, user: '{{user.id}}'})
                .catch((err)=>{ console.error(err); alert(err.response.data); })
                .finally(()=>{ e.target.auction_price.value=''; e.target.auction_message.value=''; });
        })

        const socket= io.connect('http://localhost:8010', { path: '/socket.io' });
        socket.on('auction', (data)=>{
            const div= document.createElement('div');
            div.textContent += (data.nick + ':' + data.bid + '에 입찰함');
            if(data.msg)
                div.textContent += data.msg;
            document.querySelector('.auction_list').appendChild(div);
        });

        function alert_error(err) {
            if(new URL(location.href).searchParams.get(err)) alert(new URL(location.href).searchParams.get(err));
        }
        window.onload= () => alert_error('auctionError');
    </script>
{% endblock %}

