{% extends "layout.html" %}

{% block content %}
    <h2>경매 진행 목록</h2>
    <table>
        <tr>
            <th>상품명</th> <th>이미지</th> <th>시작 가격</th> 
            <th>종료 시간</th> <th>입장</th>
        </tr>
        {% for good in goods %}
            <tr>
                <td>{{good.name}}</td> <td><img src="/img/{{good.img}}" style="width:100px; height:100px;"></td> <td>{{good.price}}</td> 
                <td class="good_time" data-start="{{good.createdAt}}">00:00:00</td> <td><a href="/good/{{good.id}}">입장</a></td>
                <!--data-start 어디다 쓰는 걸까-->
            </tr>
        {% endfor %}
    </table>
{% endblock %}
